/*@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');

body {
    font-family: 'Oswald', sans-serif;
    color: black;
    background-color: #fafafa;
    margin: 0;
}

h1 {
    font-family: 'Oswald';
    color: white;
}

p {
    font-family: 'Open+Sans', sans-serif;
    color: white;
}

ul {
    list-style-type: none;
}

a, a:hover, a:active, a:visited { color: white; }

* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.btn {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    background: #1abc9c;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
}

.btn:hover {
    box-shadow: 0px 0px 2px 1px;
}

.text {
    color:black;
}

.maintext {
    color:black;
    font-family: 'Open+Sans', sans-serif;
}

.header {
    overflow: hidden;
    background-color: #6c757d;
    padding: 10px 10px;
    color: white;
    font-style: 'light';
    font-family: 'Oswald'
}

.month {
    padding: 10px 10px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.month .title {
    font-family: 'Oswald';
    font-style: 'light';
    font-size:40px;
}

.month .year {
    font-family: 'Oswald';
    font-style: 'light';
    font-size:25px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
    font-family: 'Oswald';
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    font-family: 'Open Sans';
    font-size: 18px;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.8%;
    height: 100px;
    text-align: center;
    font-size:12px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important;
}

.footer {
    overflow: hidden;
    padding: 10px 10px;
    background-color: #010b1c;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.footer .text {
    font-style: 'light';
    font-family: 'Oswald'
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}
